.app-download-contents{
    margin-top: 50px;
}

.app-download-contents h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: max(3vw,22px);
    text-align: center;
}

.app-download-contents .app-download-images-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(2vw,10px);
}

.app-download-contents .app-download-images-container img{
    width: 30%;
    cursor: pointer;
    transition: 0.2s;
}

.app-download-contents .app-download-images-container img:hover{
    scale: 1.05;
}
