.pagination {
}

.pagination-contents {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.pagination-contents p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
}

.pagination .pagination-contents ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.pagination .pagination-contents button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 12px black;
  background-color: white;
}

.pagination .pagination-contents button:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 1s;
}

.pagination .pagination-contents .highlight {
  background-color: black;
  color: white;
  box-shadow: none;
}
