.loading-screen {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #00000090;
  width: 100%;
  height: 100%;
  display: grid;
}

.loading-screen .contents {
  place-self: center;
  display: flex;
  animation: fadeIn 0.5s;
  justify-content: center;
}

.loading-screen .contents img {
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
}
