.user-account{
    margin-top: 50px;
}

.user-account-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-account-header h2{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}

.user-account-header hr{
    margin: 5px 0px;
    height: 2px;
    background-color: whitesmoke;
    border: none;
    width: 100%;
}

.user-account-contents{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
}

.user-account-details{
    width: 250px;
}

.user-account-details-header{
    background-color: black;
}

.user-account-details h2{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.user-account-details p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.user-account-details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-signup-message{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-message p{
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
}

.login-signup-message hr{
    height: 2px;
    background-color: grey;
    width: 250px;
    margin-top: 5px;
}


@media (max-width:750px) {
    .user-account-header h2{
        font-weight: 400;
    }
    
    .user-account-details h2{
        font-size: 20px;
    }
}