
.user-account {
  margin-top: 30px;
}

.user-account-contents {
  display: grid;
  flex-direction: 1fr;
  gap: 20px;
}

.user-account .user-account-contents{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.user-account-contents .details-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.details-container .row{
    display: grid;
    grid-template-columns: 3fr 1fr
}


.details-container h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    font-size: 25px;
}

.details-container hr{
    margin-top: 10px;
    border: 1px solid whitesmoke;
}


.details-container .row p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

.details-container .row button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    width: 10vw;
    height: 2vw;
    background-color: lightgray;
    font-size: 16px;
}

.details-container .row button:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 1s;
}

.details-container .editing-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.details-container .editing-container button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    width: 10vw;
    height: 2vw;
    font-size: 16px;
}

.details-container .editing-container input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    width: 20vw;
    padding: 10px;
    font-size: 16px;
}

.details-container .editing-container button:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 1s;
}

.row-buttons{
    display: flex;
    gap: 10px;
}

.column-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cancel{
    background-color: lightcoral;
}

.grey{
    background-color: lightgray;
}

.unverified {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: red;
  right: 350px;
  top: 500px;
}

@media (max-width: 1350px) {
   .details-container .row button{
    width: 20vw;
    height: 4vw;
  } 

    .details-container .editing-container button{
    height: 3vw;
    font-size: 16px;
    }
}
@media (max-width: 953px) {
    .details-container .editing-container button{
    width: 20vw;
    height: 5vw;
    font-size: 16px;
    }

    .details-container .editing-container input{
        width: 40vw;
        font-size: 16px;
    }

}

@media (max-width: 750px) {

  .user-account {
    margin-top: 0;
  }

 .details-container .row button{
    width: 30vw;
    height: 7vw;
}

.details-container .row{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
}

    .details-container .editing-container button{
    width: 30vw;
    height: 7vw;
    }

    .details-container .editing-container input{
        width: 50vw;
        font-size: 16px;
    }

    .row-buttons{
      flex-direction: column;
    }
  
}

@media (max-width: 483px) {

    .details-container h2{
    font-size: 20px;
}

  .details-container .row p{
    font-size: 16px;
}

 .details-container .row button{
    width: 30vw;
    height: 8vw;
  }

}
