.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid grey;
}

.footer-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}