.popup {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
}

.popup .contents .message-header {
  display: flex;
  justify-content: space-between;
}

.popup .contents .message-header h2 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
}

.popup .contents .message-header img {
  width: 25px;
  height: 25px;
}

.popup .contents .message-header img:hover {
  cursor: pointer;
  background-color: red;
}

.popup .contents .message-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.popup .contents .message-body p {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  border-radius: 1px;
}

.popup .contents .message-close p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  margin-top: 10px;
}

.popup.show {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
