.user-account-dashboard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.user-account-dashboard h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 50px;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
}



@media (max-width: 1350px) {

 
}
@media (max-width: 953px) {

}

@media (max-width: 750px) {

  .user-account-dashboard h1 {
    font-size: 40px;
  }

}

@media (max-width: 483px) {

  .user-account-dashboard{
    flex-direction: row;
    margin-top: 40px;
  }

  .user-account-dashboard h1 {
    display: none;
  }

}
